.ipynb_checkpoints
*.ipynb

download_tables.py
get.py
cliapp.py
parser.py

user_progress/
audio_files/
audio_files2/

*.txt

__pycache__/
*.py[cod]

venv/
env/
*.env

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/

*.log

*.pyc

*.db
*.sqlite3

*.tmp
*.bak
*.swp
