
#deckMenu, #fontMenu {
    top: 25px;
    left: 25px;
    position: fixed;
    box-sizing: border-box;
    z-index: 3;
    text-align: center;
}

#deckMenu {
    z-index: 130;
}

#fontMenu {
    top: 60px;
}

#deckMenu span, #fontMenu span {
    display: inline-block;
    width: 55px;
}

#deckMenu:hover, #fontMenu:hover {
    cursor: pointer;
}

#deckSubmenu, #fontSubmenu {
    display: none;
    position: absolute;
    left: 0px;
    top: 32px;
    background-color: var(--background-color);
    border: var(--simple-border);
    box-sizing: border-box;
}


/* #fontSubmenu {
    left: -10px;
    top: 20;
} */

#deckSubmenu.active, #fontSubmenu.active {
    display: block;
}

#deckSubmenu li, #fontSubmenu li {
    list-style-type: none;
    padding: 0px;
    text-align: left;
    width: 135px;
    min-width: 135px;
}

@media (max-width: 768px) {
    
    .has-submenu > span {
        background-image: none;
    }

    .has-submenu > span:hover {
        background-image: none;
    }

    .has-submenu.darkmode > span {
        background-image: none;
    }

    .has-submenu.darkmode > span:hover {
        background-image: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#flashcard_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}



#flashcard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dimmer-background-color);
    padding: 20px;
    border: 2px dashed var(--dimmer-border-color-a);
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.3em;
    z-index: 22000;
    max-width: 70%;
    width: 70vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.hanzi {
    font-size: 6em;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
    overflow: hidden; 
    width: 100%;
}

.pinyin {
    flex: 1;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    white-space: normal;
    width: 100%; 
    word-wrap: break-word;
    font-family: "Noto Sans SC", sans-serif;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.english {
    flex: 3;
    font-size: 1em;
    white-space: normal;
    width: 100%;
    word-wrap: break-word;
    font-style: italic;
    font-family: "Noto Sans SC", sans-serif;
    opacity: 0.5;
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}


.answer.inactive {
    visibility: hidden;
}

::selection {
    background: transparent;
    color: inherit;
}


@media screen and (max-width: 768px) {
    #flashcard {
        width: 90%;
        height: 60%;
        max-width: 90%;
        max-height: 90%;
        font-size: 0.9em;
    }
    
}