#flashcard_character {
    /* font-size: 122px; */
    margin-top: 30px;
    font-weight: 400;
    font-family: "Noto Serif SC", serif;
    color: #000;
    align-items: center;
    
    font-size: 1.6em;
}

#flashcard_plotter {
    margin-top: 2em;
}

#flashcard_english {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    padding: 5px 10px;
    color: #000;
    color: rgba(0, 0, 0);
    min-width: 100px;
    display: inline-block;
    text-align: center;
}


#flashcard_english ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#flashcard_english li {
    padding: 10px 0;
    border-bottom: 2px dashed #6665;
}

#flashcard_english li:last-child {
    border-bottom: none;
}

#flashcard_pinyin {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    background-color: #000;
    color: #000;
    padding: 5px 10px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

#flashcard_character:hover+#flashcard_pinyin,
#flashcard_pinyin:hover,
#flashcard_pinyin.visible {
    background-color: transparent;
    color: #000;
}

#flashcard_character.darkmode:hover+#flashcard_pinyin.darkmode,
#flashcard_pinyin.darkmode:hover,
#flashcard_pinyin.darkmode.visible {
    background-color: transparent;
    color: #d6d6d6;
}

#flashcard_function {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, .4);
    margin-bottom: 30px;
    padding: 5px 10px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

#flashcard_function::selection,
#flashcard_addcard::selection {
    background-color: black;
    color: white;
}

#flashcard_addcard {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    box-sizing: content-box;
}


#flashcard_addcard, #flashcard_practice {
    color: var(--text-color);
    background: var(--lifted-background-color);
    margin: 1em;
    padding: .3em .5em .4em .5em;
}


#flashcard_addcard {
    padding: .3em .7em .4em .7em;
}

#flashcard_practice {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    font-weight: 500;
}

#flashcard_practice::selection {
    background-color: black;
    color: white;
}

#flashcard_description {
    width: 100%;
    font-size: 16px;
    margin-top: 30px;
    overflow-y: visible;
    user-select: text;
    background: transparent;
}

/* Remove the max-height and overflow-y from #flashcard_description */
#flashcard_description {
    font-size: 1em;
    margin: 30px;
    user-select: text;
}

#flashcard_character::selection,
#flashcard_pinyin::selection,
#flashcard_english::selection,
h1::selection,
h2::selection,
b::selection,
i::selection,
li::selection,
p::selection {
    background-color: black;
    /* Applies to modern browsers */
    color: white;
    /* Ensures the selected text color is white */
}

#flashcard_container {
    position: relative;
    width: 34%;
    height: 90%;
    border: 2px dashed #00000000;
    border: 2px dashed #000000;
    background-color: rgba(255, 255, 255, .0);
    background-color: rgba(255, 255, 255, 1.0);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 42px;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: transform 0.2s, background-color 0.1s;
    z-index: 1032;
    font-family: var(--font-family);
    font-weight: 400;
}

#flashcard_container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#flashcard_plotter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#flashcard_character {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#flashcard_character span {
    display: inline-block;
}

#flashcard_strokes_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 40px;
    gap: 10px;
    border-bottom: 1px solid #dbdbdb;
}

#message {
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1;
}


#flashcard_container.darkmode {
    background-color: rgb(14, 14, 14);
    color: rgb(233, 233, 233);
    border-color: rgb(100, 100, 100);
}


#flashcard_character.darkmode {
    color: rgb(233, 233, 233);
}

#flashcard_english.darkmode {
    color: rgb(233, 233, 233);
}

#flashcard_pinyin.darkmode, #flashcard_pinyin.visible.darkmode {
    color: rgb(233, 233, 233);
}

#flashcard_description.darkmode {
    color: rgb(233, 233, 233);
}

#flashcard_function.darkmode {
    color: rgb(233, 233, 233);
}

#flashcard_addcard.darkmode {
    color: rgb(233, 233, 233);
}


#flashcard_pinyin.darkmode {
    background-color: rgb(233,233,233);
}

#flashcard_pinyin.darkmode.visible {
    background-color: rgb(233,233,233, 0);
}

#flashcard_pinyin.darkmode:hover {
    color: rgb(214,214,214);
    background-color: rgb(233,233,233, 0);
}

.word-link.darkmode {
    background: rgb(60,60,60);
    color: rgb(214,214,214);
}

@media screen and (max-width: 1024px) {
    /* #flashcard_container {
        width: 90%;
        height: 80%;
        padding: 20px;
    } */

    #flashcard_character {
        /* font-size: 60px; */
        margin-top: 10px;
    }

    #flashcard_plotter {
        margin-top: 2.6em;
    }

    #flashcard_english,
    #flashcard_pinyin {
        font-size: 20px;
        margin-bottom: 15px;
    }

    #flashcard_description {
        font-size: 1em;
        margin: 15px;
    }

    #flashcard_function {
        font-size: 1.1em;
        margin-bottom: 15px;
    }

    #flashcard_addcard {
        font-size: 14px;
    }

    #flashcard_practice {
        font-size: 14px;
    }

}

@media screen and (max-width: 845px) {
    #flashcard_container {
        /* height: 80%;
        transform: translateY(0.00008%); */
        padding: 10px;
    }

    #bordercanvas {
        width: 100%;
    }

    #flashcard_character {
        /* font-size: 60px; */
    }

    #flashcard_english,
    #flashcard_pinyin {
        font-size: 18px;
    }

    #flashcard_function {
        font-size: 15px;
    }
}

.clickable-char {
    transition: color 0.8s;
}

/* @media only screen 
and (min-device-width: 845px) 
and (max-device-width: 1024px) {
    #flashcard_container {
        width: 90%;
        height: 80vh;
        max-height: 80vh;
        margin-bottom: 20px;
    }
    
    .clickable-char {
        font-size: 130px;
        margin-top: 10px;
    }
} */

@media only screen and (min-aspect-ratio: 0.8) {
    #flashcard_container {
        /* max-width: 69vh; */
        /* Add a max-width */
        /* width: 69vh; */
    }
}


@media screen and (max-width: 845px) {

    #flashcard_container {
        width: 90%;
        height: 70vh;
        transform: translateY(8%);
        max-height: 70vh;
        max-width: 95%;
        margin-bottom: 20px;
    }

    .clickable-char {
        margin-top: 10px;
    }

    .clickable-char {
        margin-top: 10px;
    }
}
@media screen and (max-height: 845px) and (orientation:landscape) {

    #flashcard_container {
        width: 60%;
    }
}
   

@media screen and (min-width: 845px) and (max-width: 1024px) {
    #flashcard_container {
        width: 90%;
        height: 80vh;
        max-height: 80vh;
        margin-bottom: 20px;
    }
    .clickable-char {
        margin-top: 10px;
    }
}

@media screen and (min-height: 845px) and (max-height: 1024px)  and (orientation:landscape) {
    #flashcard_container {
        width: 60%;
    }
    .clickable-char {
    }
}

@media (min-width: 1424px) and (max-width: 1624px) {
    #flashcard_container {
        width: 50%;
    }
    .clickable-char {
    }
}

.char-match-group {
    margin-bottom: 20px;
}

.hsk-level-group {
    margin-left: 20px;
    margin-bottom: 10px;
}

.words-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.word-link {
    display: inline-block;
    padding: 2px 7px 0px 7px;
    margin: 4px;
    border: 2px solid #000;
    border: 0;
    text-decoration: none;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05)
}

.word-link.word-link-small {
    font-size: 0.9em;
}

.word-link:hover {
    background-color: #f0f0f0;
}

.word-link.darkmode {
    background: rgb(60, 60, 60);
    color: rgb(200, 200, 200);
}

.word-link.darkmode:hover {
    background: rgb(80, 80, 80);
}


#pinyin-hover-box {
    position: absolute;
    background-color: var(--dimmer-background-color);
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 11000;
    font-size: 14px;
    font-family: var(--font-family);
    max-width: 500px;
}


.clickable-char.darkmode {
    color: rgb(233, 233, 233);
}

.hanzi_chunk {
    font-size: 1em;
}

.hanzi_word {
    color: rgb(0, 0, 0);
    padding-left: 8px;
}

.pinyin_chunk {
    font-size: .8em;
    color: rgb(77, 77, 77);
    padding-left: 8px;
}

.pinyin_chunk::before {
    content: "(";
}

.pinyin_chunk::after {
    content: ")";
}

.pinyin_word:not(:first-child) {
    padding-left: .5em;
}

/* #flashcard_description>p:first-child {
    border-top: 1px dashed #00000038;
    border-bottom: 1px dashed #00000038;
    padding-top: .3em;
    padding-bottom: .3em;
} */

#publicLabel {
    font-size: 0.8em;
    color: #666;
}

#notesLabel, #descriptionLabel, #rawLabel {
    cursor: pointer;
    user-select: none;  /* Prevents text selection */
    /* transform: translateX(-1em); */
    margin: 10px 0px;
    width: 100%;
    /* padding: 4px 8px; */
}

#publicNotesLabel {
    cursor: pointer;
    font-size: 0.85em;
    color: #666;
    user-select: none;  /* Prevents text selection */
    /* transform: translateX(-1em); */
    margin: 10px 0px;
    width: 100%;
    /* padding: 4px 8px; */
}

#personalNotesLabel {
    cursor: pointer;
    font-size: 0.85em;
    color: #666;
    user-select: none;  /* Prevents text selection */
    /* transform: translateX(-1em); */
    margin: 10px 0px;
    width: 100%;
    /* padding: 4px 8px; */
}

#notesLabel:hover,
#publicNotesLabel:hover,
#personalNotesLabel:hover,
#rawLabel:hover,
#descriptionLabel:hover {
    background-color: #fafafa;
}

#notesLabel.darkmode:hover,
#publicNotesLabel.darkmode:hover,
#personalNotesLabel.darkmode:hover,
#rawLabel.darkmode:hover,
#descriptionLabel.darkmode:hover {
    background-color: #1d1d1d;
}

#notesLabel:after,
#publicNotesLabel:after,
#rawLabel:after,
#descriptionLabel:after {
    content: '▼';
    font-size: 0.9em;
    display: inline-block;
}

#notesLabel.collapsed:after,
#publicNotesLabel.collapsed:after,
#rawLabel.collapsed:after,
#descriptionLabel.collapsed:after {
    transform: rotate(-90deg);
}

#descriptionContainer {
    border-bottom: 1px dashed #00000038;
}
#descriptionParagraph {
    /* background-color: #fafafa; */
    padding: 8px;
    background: transparent;
}

#descriptionContainer li::marker {
    content: "-" !important;
    background: lightgray;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
}

[contenteditable="true"] {
    text-align: left;
    border-bottom: 1px dashed #00000038;
    padding: 5px;
    text-align: left;
    outline: none;  
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 1.25em;
    font-family: monospace;
}

[contenteditable="true"] > h1, [contenteditable="true"] > h2, [contenteditable="true"] > p, [contenteditable="true"] > li, [contenteditable="true"] > ol, [contenteditable="true"] > ul  {
    /* font-family: monospace; */
    text-align: left;
    margin: 0;
    padding: 0;
}

[contenteditable="true"] > h1, [contenteditable="true"] > h2, [contenteditable="true"] > h3  {
    /* font-family: monospace; */
    font-family: Helvetica, Arial, sans-serif;
}


[contenteditable="true"]:focus {
    font-family: monospace;
    font-size: 1.25em;
}


#notesParagraph {
    color: #000;
    font-style: normal;
    padding: 8px;
    border: 2px dashed #00000038;
    background-color: rgb(247, 247, 247);
}

#notesParagraph.darkmode {
    color: #d6d6d6;
    background-color: rgb(32, 32, 32);
}

#notesParagraph > div.darkmode {
    background-color: transparent;
}

#notesParagraph.empty {
    color: #999;
    font-style: italic;
    border: none;
    border-bottom: 1px dashed #00000038;
}




#notesParagraph:not(:focus) {
    /* background-color: #fff0; */
    border: none;
}


#notesParagraph:focus {
    background-color: rgb(247, 247, 247);
}


#notesParagraph.darkmode:focus {
    background-color: rgb(46, 46, 46);
}


#notesParagraph {
    margin: 0; /* Remove any default margin */
}

/* Target paragraphs inside notesParagraph when rendered */
#notesParagraph p {
    margin: 0; /* Remove margins from paragraphs created by marked */
    padding: 0;
}

/* If there are any other elements that might have margins */
#notesParagraph * {
    margin: 0;
    padding: 0;
}

.note-container {
    position: relative;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f5f5f5;
    /* border-radius: 5px; */
}


.note-container.darkmode {
    color: #d6d6d6;
    background-color: rgb(32, 32, 32);
}

.note-container > div.darkmode {
    background-color: transparent;
}

.other-user-notes {
    margin: 0;
    padding-bottom: 20px; /* Make room for username */
    font-family: monospace;
    font-size: 1.25em;
    background-color: transparent;
}


img[src$=".jpg"]:broken,
img[src$=".jpeg"]:broken,
img[src$=".png"]:broken,
img[src$=".gif"]:broken,
img[src$=".webp"]:broken {
    display: none;
}

.other-user-notes > div.darkmode {
    background-color: transparent;
}
/* div.darkmode  > div.darkmode {
    background-color: transparent;
} */

.other-user-notes .notes-image, #notesParagraph .notes-image {
    max-height: 200px;
    margin: 0;
    padding: 0;
}


.note-username {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 0.8em;
    color: #666;
    font-style: italic;
    background-color: transparent;
}


input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    background-color: #d4d4d4;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0px 8px -2px 0px;
    flex: none;
}

input[type="checkbox"].darkmode {
    background-color: #424242;
}

input[type="checkbox"]:checked::after {
    content: '✔';
    color: #222222;
    width: 15px;
    height: 15px;
    font-size: 15px;
    position: absolute;
    /* font-size: 14px;
    line-height: 14px;
    text-align: center;
    display: flex; */
    transform: translate(2px, -2px);  /* Smaller adjustments */
}

input[type="checkbox"].darkmode:checked::after {
    content: '✔';
    color: #a8a8a8;
}

#checkboxContainer {
    padding: 10px;
    background: transparent;
}

#publicLabel {
    background: transparent;
}


.tab-nav {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--dimmer-border-color-a);
}

.tab-button {
    background: none;
    color: var(--dimmer-text-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.3em;
    transition: background 0.03s;
    border-bottom: 2px solid transparent;
    border: 2px solid transparent;
    border-bottom: 0px solid transparent;
    transform: translateY(2px);
}

.tab-button.active {
    color: var(--text-color);
    background: var(--background-color);
    border-bottom: 2px solid var(--accent-color);
    border: 2px solid var(--dimmer-border-color-a);
    border-bottom: 0px solid transparent;
}

.tab-content-container {
    padding: 10px;
    border: 2px solid var(--dimmer-border-color-a);
    font-size: 1em;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

@media screen and (max-width: 845px) {
    .tab-content {
        font-size: .9em;
    }
}


.rawDefEntry {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: var(--thin-border);
    margin-top: .5em;
}

.rawDefLabel {
    font-size: 1em;
    display: inline-block;
    opacity: 0.5;
}

.rawDefContent {
    /* padding:  .5em 1em .5em 1em; */
    display: inline-block;
}

.scrollableHanzis {
    max-height: 180px;
    overflow-y: auto;
    scrollbar-width: none;
}

.scrollableHanzis::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scrollableHanzis.expanded {
    max-height: none;
    overflow: visible;
}


.examplesDiv {
    max-height: 450px;
    flex-direction: column;
    display: flex;
}

.small_hanzi, .small_pinyin, .small_english {
    font-size: 0.8em;
    color: var(--text-color);
}

.small_hanzi {
    font-size: .8em;
}

.small_english {
    font-size: .7em;
    opacity: 0.5;
}



.word-link-example {
    display: inline-block;
    padding: 1em;
    margin: 4px;
    border: 2px solid #000;
    border: 0;
    text-decoration: none;
    color: #000000;
    font-size: 19px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05)
}

.word-link-example:hover {
    background-color: #f0f0f0;
}

.word-link-example.darkmode {
    background: rgb(26, 26, 26);
    color: rgb(200, 200, 200);
}

.word-link-example.darkmode:hover {
    background: rgb(80, 80, 80);
}



@media screen and (max-width: 845px) {
    .tab-content {
        font-size: .9em;
    }
    .word-link-example {
        padding: .2em .4em;
    }
}

.expand-button {
    display: block;
    margin: 20px auto;
    padding: 3px 7px;
    background-color: var(--dimmer-background-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: .7em;
    font-family: var(--font-family);
}

.expand-button:hover {
    background-color: var(--background-color);
}

/* .appearsInDiv {
    position: fixed;
    display: none;
    background: var(--dimmer-background-color);
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
    overflow-x: hidden;
}


.appearsInDiv::-webkit-scrollbar {
    width: 0;
    height: 0;
} */



@keyframes fallAndRotate {
    to {
        transform: translateY(100px) rotate(30deg);
        opacity: 0;
    }
}

.fall-out {
    animation: fallAndRotate 0.35s ease-in forwards;
}