#flashcard_character {
    /* font-size: 122px; */
    margin-top: 30px;
    font-weight: 400;
    font-family: "Noto Serif SC", serif;
    color: #000;
    align-items: center;
}

#flashcard_plotter {
    margin-top: 30px;
}

#flashcard_english {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    padding: 5px 10px;
    color: #000;
    color: rgba(0, 0, 0);
    min-width: 100px;
    display: inline-block;
    text-align: center;
}


#flashcard_english ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#flashcard_english li {
    padding: 10px 0;
    border-bottom: 2px dashed #6665;
}

#flashcard_english li:last-child {
    border-bottom: none;
}

#flashcard_pinyin {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    background-color: #000;
    color: #000;
    padding: 5px 10px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

#flashcard_character:hover+#flashcard_pinyin,
#flashcard_pinyin:hover,
#flashcard_pinyin.visible {
    background-color: transparent;
    color: #000;
}

#flashcard_character.darkmode:hover+#flashcard_pinyin.darkmode,
#flashcard_pinyin.darkmode:hover,
#flashcard_pinyin.darkmode.visible {
    background-color: transparent;
    color: #d6d6d6;
}

#flashcard_function {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, .4);
    margin-bottom: 30px;
    padding: 5px 10px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

#flashcard_hsk {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 22px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    border-radius: 5px;
}

#flashcard_function::selection,
#flashcard_hsk::selection {
    background-color: black;
    color: white;
}

#flashcard_practice {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 22px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    border-radius: 5px;
}

#flashcard_practice::selection {
    background-color: black;
    color: white;
}

#flashcard_description {
    width: 100%;
    font-size: 16px;
    margin-top: 30px;
    overflow-y: visible;
    user-select: text;
    background: transparent;
}

/* Remove the max-height and overflow-y from #flashcard_description */
#flashcard_description {
    font-size: 1em;
    margin: 30px;
    user-select: text;
}

#flashcard_character::selection,
#flashcard_pinyin::selection,
#flashcard_english::selection,
h1::selection,
h2::selection,
b::selection,
i::selection,
li::selection,
p::selection {
    background-color: black;
    /* Applies to modern browsers */
    color: white;
    /* Ensures the selected text color is white */
}

#flashcard_container {
    position: relative;
    width: 34%;
    height: 90%;
    border: 2px dashed #00000000;
    border: 2px dashed #000000;
    background-color: rgba(255, 255, 255, .0);
    background-color: rgba(255, 255, 255, 1.0);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 42px;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: transform 0.2s, background-color 0.1s;
    z-index: 1032;
    font-family: "Noto Sans Mono", monospace;
    font-weight: 400;
}

#flashcard_container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#flashcard_plotter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#flashcard_character {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#flashcard_character span {
    display: inline-block;
}

#flashcard_strokes_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 40px;
    gap: 10px;
    border-bottom: 1px solid #dbdbdb;
}

#message {
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

@media screen and (max-width: 1024px) {
    /* #flashcard_container {
        width: 90%;
        height: 80%;
        padding: 20px;
    } */

    #flashcard_character {
        /* font-size: 60px; */
        margin-top: 10px;
    }

    #flashcard_plotter {
        margin-top: 10px;
    }

    #flashcard_english,
    #flashcard_pinyin {
        font-size: 20px;
        margin-bottom: 15px;
    }

    #flashcard_description {
        font-size: 1em;
        margin: 15px;
    }

    #flashcard_function {
        font-size: 1.1em;
        margin-bottom: 15px;
    }

    #flashcard_hsk {
        font-size: 14px;
    }

    #flashcard_practice {
        font-size: 14px;
    }

}

@media screen and (max-width: 768px) {
    /* #flashcard_container {
        height: 80%;
        transform: translateY(0.00008%);
    } */

    #bordercanvas {
        width: 100%;
    }

    #flashcard_character {
        /* font-size: 60px; */
    }

    #flashcard_english,
    #flashcard_pinyin {
        font-size: 18px;
    }

    #flashcard_function {
        font-size: 15px;
    }
}

.clickable-char {
    transition: color 0.8s;
}

/* @media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
    #flashcard_container {
        width: 90%;
        height: 80vh;
        max-height: 80vh;
        margin-bottom: 20px;
    }
    
    .clickable-char {
        font-size: 130px;
        margin-top: 10px;
    }
} */

@media only screen and (min-aspect-ratio: 0.8) {
    #flashcard_container {
        /* max-width: 69vh; */
        /* Add a max-width */
        /* width: 69vh; */
    }
}


@media screen and (max-width: 768px) {

    #flashcard_container {
        width: 90%;
        height: 70vh;
        transform: translateY(8%);
        max-height: 70vh;
        max-width: 95%;
        margin-bottom: 20px;
    }

    .clickable-char {
        /* font-size: 80px; */
        margin-top: 10px;
    }

    .clickable-char {
        /* font-size: 80px; */
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #flashcard_container {
        /* max-width: 95%;
        width: 69vh; */
    }

    .clickable-char {
        /* font-size: 110px; */
        margin-top: 10px;
    }
}

.char-match-group {
    margin-bottom: 20px;
}

.hsk-level-group {
    margin-left: 20px;
    margin-bottom: 10px;
}

.words-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.word-link {
    display: inline-block;
    padding: 2px 7px 0px 7px;
    border: 2px solid #000;
    border: 0;
    text-decoration: none;
    color: #000000;
    font-size: 19px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05)
}


#pinyin-hover-box {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 11000;
    font-size: 14px;
    font-family: "Noto Sans Mono", monospace;
}

/* 
.word-link:nth-child(3n) { background-color: #e9e9e9; }
.word-link:nth-child(3n+1) { background-color: #e9e9e9; } 
.word-link:nth-child(3n+2) { background-color: #e9e9e9; } Blue */

.word-link:hover {
    background-color: #f0f0f0;
}

.word-link.darkmode {
    background: rgb(60, 60, 60);
    color: rgb(200, 200, 200);
}

.word-link.darkmode:hover {
    background: rgb(80, 80, 80);
}


.clickable-char.darkmode {
    color: rgb(233, 233, 233);
}

#flashcard_practice.darkmode {
    color: rgb(233, 233, 233);
}


.hanzi_chunk {
    font-size: 1em;
}

.hanzi_word {
    color: rgb(0, 0, 0);
    padding-left: 8px;
}

.pinyin_chunk {
    font-size: .8em;
    color: rgb(77, 77, 77);
    padding-left: 8px;
}

.pinyin_chunk::before {
    content: "(";
}

.pinyin_chunk::after {
    content: ")";
}

.pinyin_word:not(:first-child) {
    padding-left: .5em;
}

/* #flashcard_description>p:first-child {
    border-top: 1px dashed #00000038;
    border-bottom: 1px dashed #00000038;
    padding-top: .3em;
    padding-bottom: .3em;
} */

#publicLabel {
    font-size: 0.8em;
    color: #666;
}

#notesLabel, #descriptionLabel {
    cursor: pointer;
    user-select: none;  /* Prevents text selection */
    transform: translateX(-1em);
    margin: 10px 0px;
    width: 100%;
    padding: 4px 8px;
}

#publicNotesLabel {
    cursor: pointer;
    font-size: 0.85em;
    color: #666;
    user-select: none;  /* Prevents text selection */
    transform: translateX(-1em);
    margin: 10px 0px;
    width: 100%;
    padding: 4px 8px;
}

#personalNotesLabel {
    cursor: pointer;
    font-size: 0.85em;
    color: #666;
    user-select: none;  /* Prevents text selection */
    transform: translateX(-1em);
    margin: 10px 0px;
    width: 100%;
    padding: 4px 8px;
}

#notesLabel:hover,
#publicNotesLabel:hover,
#personalNotesLabel:hover,
#descriptionLabel:hover {
    background-color: #fafafa;
}

#notesLabel.darkmode:hover,
#publicNotesLabel.darkmode:hover,
#personalNotesLabel.darkmode:hover,
#descriptionLabel.darkmode:hover {
    background-color: #1d1d1d;
}

#notesLabel:after,
#publicNotesLabel:after,
#descriptionLabel:after {
    content: ' ▼';
    font-size: 0.9em;
    display: inline-block;
}

#notesLabel.collapsed:after,
#publicNotesLabel.collapsed:after,
#descriptionLabel.collapsed:after {
    transform: rotate(-90deg);
}

#descriptionContainer {
    border-bottom: 1px dashed #00000038;
}
#descriptionParagraph {
    /* background-color: #fafafa; */
    padding: 8px;
    background: transparent;
}


#descriptionContainer li::marker {
    content: "-" !important;
    background: lightgray;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
}

[contenteditable="true"] {
    text-align: left;
    border-bottom: 1px dashed #00000038;
    padding: 5px;
    text-align: left;
    outline: none;  
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 1.25em;
    font-family: monospace;
}

[contenteditable="true"] > h1, [contenteditable="true"] > h2, [contenteditable="true"] > p, [contenteditable="true"] > li, [contenteditable="true"] > ol, [contenteditable="true"] > ul  {
    /* font-family: monospace; */
    text-align: left;
    margin: 0;
    padding: 0;
}

[contenteditable="true"] > h1, [contenteditable="true"] > h2, [contenteditable="true"] > h3  {
    /* font-family: monospace; */
    font-family: Helvetica, Arial, sans-serif;
}


[contenteditable="true"]:focus {
    font-family: monospace;
    font-size: 1.25em;
}


#notesParagraph {
    color: #000;
    font-style: normal;
    padding: 8px;
    border: 2px dashed #00000038;
    background-color: rgb(247, 247, 247);
}

#notesParagraph.darkmode {
    color: #d6d6d6;
    background-color: rgb(32, 32, 32);
}

#notesParagraph > div.darkmode {
    background-color: transparent;
}

#notesParagraph.empty {
    color: #999;
    font-style: italic;
    border: none;
    border-bottom: 1px dashed #00000038;
}




#notesParagraph:not(:focus) {
    /* background-color: #fff0; */
    border: none;
}


#notesParagraph:focus {
    background-color: rgb(247, 247, 247);
}


#notesParagraph.darkmode:focus {
    background-color: rgb(46, 46, 46);
}


#notesParagraph {
    margin: 0; /* Remove any default margin */
}

/* Target paragraphs inside notesParagraph when rendered */
#notesParagraph p {
    margin: 0; /* Remove margins from paragraphs created by marked */
    padding: 0;
}

/* If there are any other elements that might have margins */
#notesParagraph * {
    margin: 0;
    padding: 0;
}

.note-container {
    position: relative;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f5f5f5;
    /* border-radius: 5px; */
}


.note-container.darkmode {
    color: #d6d6d6;
    background-color: rgb(32, 32, 32);
}

.note-container > div.darkmode {
    background-color: transparent;
}

.other-user-notes {
    margin: 0;
    padding-bottom: 20px; /* Make room for username */
    font-family: monospace;
    font-size: 1.25em;
    background-color: transparent;
}


img[src$=".jpg"]:broken,
img[src$=".jpeg"]:broken,
img[src$=".png"]:broken,
img[src$=".gif"]:broken,
img[src$=".webp"]:broken {
    display: none;
}

.other-user-notes > div.darkmode {
    background-color: transparent;
}
/* div.darkmode  > div.darkmode {
    background-color: transparent;
} */

.other-user-notes .notes-image, #notesParagraph .notes-image {
    max-height: 200px;
    margin: 0;
    padding: 0;
}


.note-username {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 0.8em;
    color: #666;
    font-style: italic;
    background-color: transparent;
}


input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    background-color: #d4d4d4;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0px 8px -2px 0px;
    flex: none;
}

input[type="checkbox"].darkmode {
    background-color: #424242;
}

input[type="checkbox"]:checked::after {
    content: '✔';
    color: #222222;
    width: 15px;
    height: 15px;
    font-size: 15px;
    position: absolute;
    /* font-size: 14px;
    line-height: 14px;
    text-align: center;
    display: flex; */
    transform: translate(2px, -2px);  /* Smaller adjustments */
}

input[type="checkbox"].darkmode:checked::after {
    content: '✔';
    color: #a8a8a8;
}

#checkboxContainer {
    padding: 10px;
    background: transparent;
}

#publicLabel {
    background: transparent;
}