::selection {
    background-color: rgb(255, 66, 28);
}

#font-select {
    position: fixed;
    top: 45px;
    right: 15px;
    font-size: 16px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 400;
    width: 150px;
    background-color: white;
    border: 3px solid black;
    border-radius: 0;
    margin-top: 15px;
    padding: 5px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23000' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
    background-size: 16px;
    cursor: pointer;
    z-index: 1001;
}

#font-select::-ms-expand {
    display: none;
}
#font-select option:checked,
#font-select option:hover {
    background-color: black;
    color: white;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-family: "Crimson Pro", serif;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    max-width: 80%;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    padding: 40px;
    gap: 10px;
}

.grid-item {
    border: 2px dashed #d0d0d0;
    background-color: #f6f6f6;
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    word-break: keep-all;
    overflow: hidden;
    font-size: 22px;
}

.grid-item.darkmode {
    background-color: rgb(14, 14, 14);
    color: rgb(211, 211, 211);
    border-color: rgb(100, 100, 100);
}


/* 
.grid-item {
    font-size: 20px;
} */

.grid-item:hover {
    background-color: rgb(250, 250, 250);
    /* color: white;
    background-color: #000; */
}

.grid-item.darkmode:hover {
    background-color: rgb(14, 14, 14);
    color: rgb(250, 250, 250);
}

.grid-item[data-length="7"],
.grid-item[data-length="8"],
.grid-item[data-length="9"],
.grid-item[data-length="10"] {
    font-size: 10px;
}

.grid-item {
    position: relative;
}

.grid-item .char {
    display: block;
}

.grid-item .grid-pinyin {
    display: none;
    font-family: 'Noto Sans Mono', monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.grid-item:hover .char {
    display: none;
}

.grid-item:hover .grid-pinyin {
    display: block;
}


#flashcard_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 113, 134, 0.73);
    background-color: rgba(255, 255, 255, 0.73);
    justify-content: center;
    align-items: center;
}

#flashcard_overlay.darkmode {
    background-color: rgba(14, 14, 14, 0.73);
}

#flashcard_container {
    background-color: white;
    width: 34%;
    height: 90%;
    border: 2px dashed #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

#flashcard_container.darkmode {
    background-color: rgb(14, 14, 14);
    /* color: rgb(245, 245, 245); */
    border-color: rgb(100, 100, 100);
}


#flashcard_container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.character {
    font-size: 122px;
    margin-top: 30px;
    font-weight: 500;
}
.english {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000;
    padding: 5px 10px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
    visibility: hidden;
}

.english.darkmode {
    color: rgb(247, 247, 247);
}

.pinyin {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    background-color: #000;
    color: #000;
    padding: 5px 10px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

.pinyin.darkmode {
    color: rgb(233, 233, 233);
    background-color: rgb(233, 233, 233);
}


.character:hover + .pinyin:not(.visible),
.pinyin:hover:not(.visible) {
    background-color: transparent;
    color: #000;
}

.character.darkmode:hover + .pinyin.darkmode:not(.visible),
.pinyin.darkmode:hover:not(.visible) {
    background-color: transparent;
    color: rgb(250, 250, 250);
}

.pinyin.visible {
    background-color: transparent;
    color: #000;
}

.pinyin.visible.darkmode {
    background-color: transparent;
    color: rgb(233, 233, 233);
}



.flashcard {
    font-size: 16px;
    margin: 30px;
    width: 100%; /* Add this line */
    overflow-y: visible; /* Change this line */
    user-select: text;
}
.flashcard::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.flashcard::selection {
    background-color: black; /* Ensures the background of selected text is black */
    color: white; /* Ensures the selected text color is white */
}

.flashcard ::-moz-selection {
    background-color: black; /* For Firefox */
    color: white;
}
#deck-select {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 16px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 400;
    width: 150px;
    background-color: white;
    border: 3px solid black;
    border-radius: 0;
    padding: 5px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23000' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
    background-size: 16px;
    cursor: pointer;
}
#deck-select::-ms-expand {
    display: none;
}
#deck-select option:checked,
#deck-select option:hover {
    background-color: black;
    color: white;
}
@media screen and (max-width: 768px) { /* Adjust the breakpoint as needed */
    #flashcard_container {
        width: 90%;
        height: 75%;
        transform: translateY(8%);
        padding: 10px;
    }
    .flashcard {
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 6px;
        margin-bottom: 6px;
        font-size: 14px;
    }
    .english, .pinyin {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .character {
        font-size: 60px;
        margin-top: 10px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        padding: 10px;
        gap: 10px;
    }
    
    body {
        padding: 10px;
    }
    
    #deck-select {
        top: 10px;
        right: 10px;
        font-size: 14px;
        width: 120px;
    }
    #font-select {
        top: 40px;
        right: 10px;
        font-size: 14px;
        width: 120px;
        margin-top: 8px;
    }

        
    .grid-container {
        max-width: 100%;
        width: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        padding: 10px;
        gap: 10px;
    }

    .grid-item {
        /* border: 2px dashed #d0d0d0;
        background-color: #f6f6f6;
        background-color: rgb(255, 255, 255); */
        height: 50px;
        display: flex;
        font-weight: 400;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 5px;
        text-align: center;
        word-break: keep-all;
        overflow: hidden;
    }
}


h1 {
    text-align: center;
    cursor: pointer;
}

@media only screen 
and (orientation: landscape) {
    #flashcard_container {
        max-width: 60%; /* Add a max-width */
        width: 60%;
    }
}


::selection {
    background-color: #000;
    color: #fff;
}
#flashcard-link {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 16px;
    color: #000;
    z-index: 1010;
}
#flashcard-link:hover {
    background-color: #000;
    color: #fff;
}
#flashcard_strokes_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
}

#flashcard_strokes_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.clickable-char {
    display: inline-block;
    margin: 0 2px;
}

.grid-container {
    z-index: 1;
}

#flashcard_overlay {
    z-index: 1000; /* Higher than grid-container, lower than overlay */
}

#font-select {
    z-index: 1002; /* Higher than grid-container, lower than overlay */
}

#deck-select {
    z-index: 999;
}

.lists-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.list-container {
    width: 100%;
    border: 2px dashed black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 85vh;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow-x: hidden;

}

.list-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media (min-aspect-ratio: 16/9) {
    .lists-wrapper {
        flex-direction: row;
        justify-content: space-between;
        max-width: 90%;
    }

    .list-container {
        width: 32%;
        margin-bottom: 0;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .list-container {
        max-height: 68vh;
        height: 100%;
    }
}

#list-cont-1 {
    border: none;
}
#list-cont-2 {
}
#list-cont-3 {
}

.pinyin-english-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.pinyin-english-item {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 2px dashed #eee;
    color: #111;
    cursor: pointer;
}
.pinyin-english-item:hover {
    background-color: #e1e1e1; /* Light gray background on hover */
}

.pinyin-english-item.darkmode {
    background-color: rgb(14, 14, 14);
    color: rgb(235, 235, 235);
}

.pinyin-english-item.darkmode:hover {
    background-color: rgb(14, 14, 14);
    color: rgb(233, 233, 233);
}


.char-pinyin-group {
    display: flex;
    align-items: center;
    width: 100%; /* Add this */
}
.char-pinyin-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Add this */
}
.list-pinyin {
    font-weight: bold;
}
.list-english {
    text-align: right;
    width: 100%;
    flex-grow: 1; /* Allow it to grow and take available space */
    text-align: right; /* Align text to the right */
    overflow: hidden; /* Hide overflow */
}

.lgrid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 2px;
}

.lgrid-item {
    border: 2px dashed #dddddd;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 2px;
    display: flex;
}

.lgrid-item:hover {
    cursor: pointer;
}

.list-index {
    font-size: 11px;
    color: #888;
    width: 30px; /* Increase width to accommodate larger numbers */
    text-align: right;
    display: inline-block;
    margin-right: 10px;
}

#lcontainer {
    display: none;
    max-width: 80%;
    width: 100%;
}
@media screen and (min-width: 768px) and (min-aspect-ratio: 1) {
    #lcontainer {
        display: none;
        max-width: 50%;
        width: 100%;
    }
    
    .lgrid-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) and (max-aspect-ratio: 1) {
    #lcontainer {
        display: none;
        max-width: 70%;
        width: 100%;
    }
    
    .lgrid-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3px;
        padding: 3px;
    }
    .lgrid-item {
        padding: 4px;
    }
}


@media screen and (min-width: 1600px) and (min-aspect-ratio: 1) {
    #lcontainer {
        display: none;
        max-width: 40%;
        width: 100%;
    }
    
    .lgrid-item {
        padding: 10px;
    }
    
    .lgrid-item:hover {
    }
    
    .lgrid-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        padding: 0px;
    }
}

.list-character-size {
    font-size: 25px;
}


#title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    margin-bottom: 10px;
}


#title_word_count {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}



@media (max-width: 768px) {
    .lgrid-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4px;
        padding: 4px;
    }
    .lgrid-item {
        padding: 4px;
    }

    #title_word_count {
        text-align: left;
        font-size: 1em;
        width: 95%;
        margin-top: 0;
        padding-bottom: 15px;
        
        /* text-align: left;
        width: 90%;
        font-size: 20px;
        padding: 20px 0px; */
    }

    #title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 2.4em;
        padding-bottom: 0px;
        text-align: left;
        width: 95%;
    }

    .pinyin-english-item {
        padding: 10px 0px;
    }
    
    .list-english {
        text-align: right;
        flex-wrap: wrap;
        max-width: 30%;
    }
    #lcontainer {
        display: none;
        max-width: 100%;
        width: 100%;
    }

    .list-character-size {
        font-size: 20px;
    }

    .list-pinyin {
        font-size: 13px;
    }

    .list-english {
        font-size: 13px;
    }
}


@media screen and (max-width: 768px) and (min-aspect-ratio: 1) {
    #lcontainer {
        display: none;
        max-width: 65%;
        width: 100%;
    }
    
    .lgrid-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 10px;
    }
}

#typedDisplay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 282px;
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    padding: 20px 80px;
    z-index: 1000;
    pointer-events: none;
    font-family: 'Noto Sans Mono', monospace;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.lgrid-item:hover {
    background-color: rgba(127, 127, 127, 0.1);
}

.char-pinyin-group.darkmode {
    background-color: rgb(14, 14, 14);
    color: rgb(235, 235, 235);
}

.char-pinyin-group {
    background: #fff0;
}

.char-pinyin-group.darkmode {
    background: #fff0;
}

.char-pinyin-group:hover {
    background: #fff0;
}

.list-english {
    background: #fff0;
}

.list-english:hover {
    background: #fff0;
}

.list-character:hover {
    background: #fff0;
}

.list-character {
    background: #fff0;
}


.index-container {
    background: #fff0;
}


.index-container:hover {
    background: #fff0;
}

.list-index {
    background: #fff0;
}


.list-index:hover {
    background: #fff0;
}

.list-pinyin {
    background: #fff0;
}

.list-pinyin:hover {
    background: #fff0;
}