
body {
    font-family: 'Noto Sans Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

body.darkmode {
    background-color: rgb(14, 14, 14);
    color: rgb(245, 245, 245);
}


html {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.hamburger.darkmode span {
    background-color: rgb(222,222,222);
}


.character-row {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 2px solid #ccc3;
}

.character-row.darkmode {
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

#characters-container.darkmode > div {
    border-bottom: 2px solid rgba(43, 43, 43, 0.4);
}
  
.character-row h2 {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 400;
}

#characters-container {
    max-width: 800px;
    width: 60%;
    padding: 10px;
    border: 2px dashed #0001;
}

.character-row:last-child {
    border-bottom: none;
}


h1 {
    font-family: "Helvetica", serif;
    font-size: 60px;
}

@media screen and (max-width: 767px) {
    #characters-container {
        width: 100%;
    }

    h1 {
        font-family: "Helvetica", serif;
        font-size: 33px;
        margin-bottom: 4px;
        margin-top: 34px;
    }
}

.canvas-container {
    display: flex;
    flex-wrap: wrap;
}

.character-canvas {
    margin-right: 0px;
    margin-bottom: 0px;
    /* border: 1px solid #ccc; */
}
