* {
    font-family: 'Noto Sans Mono', monospace;
}

body {
    font-family: 'Noto Sans Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#test-container {
    width: 60%;
    max-width: 600px;
    text-align: center;
}

#character-display {
    font-size: 72px;
    margin-bottom: 20px;
}

#pinyin-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#submit-btn, #restart-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

#restart-btn {
    margin-top: 10px;
}

#progress {
    margin-top: 20px;
    font-size: 14px;
}

#results {
    text-align: center;
    margin-top: 20px;
}

#deck-name {
    text-align: center;
    margin-bottom: 20px;
}

#answer-table-container {
    width: 100%;
    max-width: 500px; /* Set maximum width for non-mobile */
    margin: 0 auto; /* Center the table container */
}

#answer-table {
    width: 100%;
    border-collapse: collapse;
}

#answer-table td {
    padding: 8px;
    border: 2px solid #000000;
}

.correct-row {
    background-color: #d4edda;
}

.incorrect-row {
    background-color: #f8d7da;
}

@media screen and (min-width: 768px) {
    #answer-table-container {
        max-height: none;
        overflow: visible;
        width: 500px; /* Set fixed width for non-mobile */
    }
}

@media screen and (max-width: 767px) {
    #test-container {
        width: 90%;
    }

    #answer-table-container {
        max-height: 70vh;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%; /* Full width on mobile */
    }

    #answer-table-container::-webkit-scrollbar { 
        width: 0;
        height: 0;
    }
}

@media screen and (max-width: 768px) {
   

    h2 {
        margin-top: 10px;
    }

    #title {
        margin-top: 40px;
        font-size: 33px;
        margin-bottom: 4px;
        margin-top: 34px;
    }
    h1 {
        font-size: 33px;
        margin-bottom: 4px;
        margin-top: 34px;
    }
    
    #deck-name {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #answer-table-container {
        max-height: 70vh;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%;
    }

    #answer-table-container::-webkit-scrollbar { 
        width: 0;
        height: 0;
    }

    #character-display {
        font-size: 62px;
        margin-bottom: 10px;
    }

    #results {
        text-align: center;
        margin: 0 30px;
    }

}


.hamburger.darkmode span {
    background-color: rgb(222,222,222);
}


.correct-row {
    background-color: #d4edda;
}

.correct-row.darkmode {
    background-color: #7b8d7f;
}

.incorrect-row {
    background-color: #f8d7da;
}

.incorrect-row.darkmode {
    background-color: #886467;
}


#restart-btn.darkmode {
    background-color: rgb(14, 14, 14);
    color: rgb(236, 236, 236);
    border: 2px solid rgb(199, 199, 199);
}


#submit-btn.darkmode {
    background-color: rgb(14, 14, 14);
    color: rgb(236, 236, 236);
    border: 2px solid rgb(199, 199, 199);
}

#pinyin-input.darkmode {
    border-color: rgb(233, 233, 233, 0.6);
    color: rgb(14, 14, 14);
}

#character-display {
    min-height: 100px;
}



h1 {
    font-family: "Helvetica", serif;
    font-size: 60px;
}