
body {
    font-family: 'Noto Sans Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0px;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}


html {
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#test-container {
    width: 60%;
    max-width: 90%;
    text-align: center;
    border-top: var(--dimmer-border);
    margin: 2rem 0;
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
    #test-container {
        width: 90%;
        max-width: 90%;
        text-align: center;
    }
}

#character-display {
    font-size: 72px;
    margin-bottom: 20px;
}

#pinyin-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.writing-btns {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.writing-btns.darkmode {
    background-color: rgb(14, 14, 14);
    color: rgb(243, 243, 243);
    border: 2px solid white;
}

#restart-btn {
    margin-top: 10px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* gap: 10px;
    width: 600px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; */
}


.writing-btns {
    margin-top: 10px;
    width: 33%;
    max-width: 150px;
    box-sizing: border-box;
}





#progress {
    margin-top: 20px;
    font-size: 14px;
}

#results {
    text-align: center;
    margin-top: 20px;
}

#deck-name {
    text-align: center;
    margin-bottom: 20px;
}

#answer-table-container {
    width: 100%;
    max-width: 700px; /* Set maximum width for non-mobile */
    margin: 0 auto; /* Center the table container */
}

#answer-table {
    width: 100%;
    border-collapse: collapse;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    border-collapse: collapse;
    table-layout: fixed;
}

#answer-table td {
    padding: 8px;
    border: 2px solid #000000;
}

.correct-row {
    background-color: #d4edda;
}

.correct-row.darkmode {
    background-color: #7b8d7f;
}

.incorrect-row {
    background-color: #f8d7da;
}

.incorrect-row.darkmode {
    background-color: #886467;
}

@media screen and (min-width: 768px) {
    #answer-table-container {
        max-height: none;
        overflow: visible;
        width: 500px; /* Set fixed width for non-mobile */
    }
}

@media screen and (max-width: 768px) {
}



@media screen and (max-width: 768px) {
    #test-container {
    }

    #answer-table-container {
        max-height: 70vh;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 50%; /* Full width on mobile */
    } 
}

#english-display {
    padding-top: .7em;
    padding-bottom: .7em;
    font-size: 1.4em;
    white-space: wrap;
    display: none;
}

#pinyin-display {
    font-size: 1.4em;
    padding-top: .7em;
    padding-bottom: .7em;
    color: var(--text-color);
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

#pinyin-display.darkmode {
    color: var(--text-color);
}


#pinyin-display.active {
    background-color: #0000;
}


.hanzipart {
    margin: 0 .1em;
    font-size: 2em;
}

#pinyin-display > .hiddenHanzi {
    color: var(--text-color);
    background-color: var(--text-color);
    display: inline-block;
    line-height: 1;
    padding: 0em;
    margin-top: .4em;
    margin-bottom: .4em;
}

#pinyin-display > .hiddenHanzi::selection {
    color: var(--text-color);
    background-color: var(--text-color);
    display: inline-block;
    line-height: 1;
    padding: 0em;
}

#pinyin-display.active > .hiddenHanzi {
    color: var(--text-color);
    background-color: transparent;
}




h1 {
    font-family: "Helvetica", serif;
    font-size: 3em;
    margin-top: 1em;
}

@media screen and (max-width: 767px) {
    h1 {
        margin-bottom: 4px;
        margin-top: 2em;
        font-size: 2em;
    }

    #deck-name {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #title {
    }

    h2 {
        margin-top: 10px;
    }

    h5 {
        padding-top: 10px;
        margin-top: 10px;
    }
    #answer-table-container {
        max-height: 70vh;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%;
    }

    #answer-table-container::-webkit-scrollbar { 
        width: 0;
        height: 0;
    }

    #character-display {
        font-size: 62px;
        margin-bottom: 10px;
    }

    #results {
        text-align: center;
        margin: 0 30px;
    }


    #english-display {
        padding-top: 22px;
    }

    #pinyin-display {
    }
    
    #deck-name {
        margin-top: 20px;
    }
}
#drawing-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0em auto 1em auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#flashcard_stroke_wrapper {
    flex: 0 0 auto;
}

@media (max-aspect-ratio: 1) {
    #drawing-area {
        flex-direction: column;
        width: 100%;
    }
    #test-container {
        width: 100%;
        max-width: 100%;
    }
}

#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.confetti {
    position: absolute;
    user-select: none;
    pointer-events: none;
    animation: fall linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(-5vh) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(105vh) rotate(360deg);
        opacity: 0;
    }
}


.hamburger.darkmode span {
    background-color: rgb(222,222,222);
}

#congrats {
    left: 50vw;
    top: 50vh;
    position: fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 70px;
    background-color: rgb(255, 110, 212);
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    z-index: 10;
}


@media screen and (max-width: 767px) {
    #congrats {
        font-size: 50px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
}


.custom-dropdown {
    position: relative;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
    align-items: center;
}

.deck-dropdown{
    margin: 1em 0em;
}


#deck-name, #font-name {
    white-space: nowrap;
    text-align: center;
    font-family: "Helvetica", serif;
    font-family: 'Noto Sans Mono', monospace;
    cursor: pointer;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}


#deck-name.darkmode, #font-name.darkmode {
    color: #f0f0f0
}


#deck-name-label, #font-name-label {
    padding: 3px 11px;
}


.options-container {
    display: none;
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    background-color: white;
    border: none;
    max-height: 400px;
    font-size: 1em;
    overflow-y: auto;
    z-index: 1000;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    border: 2px solid var(--dimmer-border-color-a);
}

.options-container::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.option {
    padding: 10px;
    cursor: pointer;
    font-family: "Noto Sans Mono", monospace;
}

.option:hover {
    background-color: #f0f0f0;
}


.options-container.darkmode {
    background-color: #303030;
    border: 2px solid #939393;
    color: #f0f0f0;
}



.darkmode {
    color: rgb(236, 236, 236);
    border-color: rgb(206, 206, 206);
}

#answer-table.darkmode {
    border: 2px solid #b6b6b6;
}

#answer-table td.darkmode {
    border: 2px solid #b6b6b6;
}


#selected-deck {
    display: block;
    width: 150px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #dcdcdc;
    padding: 3px 11px;
    font-family: "Helvetica", serif;
    font-family: 'Noto Sans Mono', monospace;
}

#selected-deck.darkmode {
    background-color: #353535;
}

#selected-font {
    font-weight: bold;
    background-color: #dcdcdc;
    padding: 3px 11px;
    font-family: "Helvetica", serif;
    font-family: 'Noto Sans Mono', monospace;
}

#selected-font.darkmode {
    font-weight: bold;
    background-color: #353535;
}

#main-canvas {
    width: 400px;
}

@media screen and (max-width: 768px) {
    #main-canvas {
        width: 95%;
    }
    
}