* {
    font-family: 'Noto Sans Mono', monospace;
}

body {
    font-family: 'Noto Sans Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

body.darkmode {
    background-color: rgb(14, 14, 14);
    color: rgb(245, 245, 245);
}


html {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#test-container {
    width: 60%;
    max-width: 90%;
    text-align: center;
}

#character-display {
    font-size: 72px;
    margin-bottom: 20px;
}

#pinyin-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#skip-btn, #restart-btn, #end-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

#skip-btn.darkmode, #restart-btn.darkmode, #end-btn.darkmode {
    background-color: rgb(14, 14, 14);
    color: rgb(243, 243, 243);
    border: 2px solid white;
}

#restart-btn {
    margin-top: 10px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 600px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#skip-btn {
    right: 0;
    margin-top: 10px;
    width: 150px;
}

#end-btn {
    left: 0;
    margin-top: 10px;
    width: 150px;
}

#progress {
    margin-top: 20px;
    font-size: 14px;
}

#results {
    text-align: center;
    margin-top: 20px;
}

#deck-name {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
}

#answer-table-container {
    width: 100%;
    max-width: 500px; /* Set maximum width for non-mobile */
    margin: 0 auto; /* Center the table container */
}

#answer-table {
    width: 100%;
    border-collapse: collapse;
}

#answer-table td {
    padding: 8px;
    border: 2px solid #000000;
}

.correct-row {
    background-color: #d4edda;
}

.correct-row.darkmode {
    background-color: #7b8d7f;
}

.incorrect-row {
    background-color: #f8d7da;
}

.incorrect-row.darkmode {
    background-color: #886467;
}

@media screen and (min-width: 768px) {
    #answer-table-container {
        max-height: none;
        overflow: visible;
        width: 500px; /* Set fixed width for non-mobile */
    }
}

@media screen and (max-width: 768px) {
    #test-container {
    }

    #answer-table-container {
        max-height: 70vh;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%; /* Full width on mobile */
    }

    #answer-table-container::-webkit-scrollbar { 
        width: 0;
        height: 0;
    }
    
    #buttons {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 90%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 768px) {
    #test-container {
    }

    #answer-table-container {
        max-height: 70vh;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 50%; /* Full width on mobile */
    } 
}


#english-display {
    border-top: 1px solid #00000055;
    padding-top: 55px;
    padding-bottom: 22px;
    font-size: 33px;
}

#pinyin-display {
    font-size: 33px;
    background-color: #000000;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#pinyin-display.darkmode {
    background-color: #f5f5f5;
}

#pinyin-display.active {
    background-color: #0000;
}


h1 {
    font-family: "Helvetica", sans-serif;
    font-size: 60px;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 33px;
        margin-bottom: 4px;
        margin-top: 34px;
    }

    h2 {
        margin-top: 10px;
    }

    h5 {
        padding-top: 10px;
        margin-top: 10px;
    }

    #deck-name {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #answer-table-container {
        max-height: 70vh;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%;
    }

    #answer-table-container::-webkit-scrollbar { 
        width: 0;
        height: 0;
    }

    #character-display {
        font-size: 62px;
        margin-bottom: 10px;
    }

    #results {
        text-align: center;
        margin: 0 30px;
    }


    #english-display {
        font-size: 26px;
        padding-top: 22px;
    }

    #pinyin-display {
        font-size: 26px;
    }
    
}
#drawing-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#flashcard_stroke_wrapper {
    flex: 0 0 auto;
}

@media (max-aspect-ratio: 1) {
    #drawing-area {
        flex-direction: column;
        width: 100%;
    }
    #test-container {
        width: 100%;
        max-width: 100%;
    }
}

#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.confetti {
    position: absolute;
    user-select: none;
    pointer-events: none;
    animation: fall linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(-5vh) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(105vh) rotate(360deg);
        opacity: 0;
    }
}


.hamburger.darkmode span {
    background-color: rgb(222,222,222);
}