::selection {
    background-color: rgb(255, 66, 28);
}

#font-select {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 16px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 400;
    width: 150px;
    background-color: white;
    border: 3px solid black;
    border-radius: 0;
    padding: 5px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23000' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
    background-size: 16px;
    cursor: pointer;
    z-index: 1001; /* Add this line to ensure it's above the overlay */
}

#font-select::-ms-expand {
    display: none;
}
#font-select option:checked,
#font-select option:hover {
    background-color: black;
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    font-family: "Nunito Sans", sans-serif;
    font-family: "Crimson Pro", serif;
    font-family: "Noto Sans Mono", monospace;
    font-weight: 400;
    margin: 0;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.search-container {
    width: 90%;
    max-width: 600px;
    border: 2px dashed black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
    height: 90%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box; /* Add this line */
}

.search-container.has-results {
}
.search-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
h1 {
    font-size: 3em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    color: black;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
input[type="text"] {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    font-size: 16px;
    font-family: inherit;
}
input[type="submit"] {
    width: 100px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
}
input[type="submit"]:hover {
    background-color: black;
    color: white;
}
::selection {
    background-color: black;
    color: white;
}

.results {
    margin-top: 20px;
    width: 100%;
    padding: 0 10px; /* Add some padding */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.result-item {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Ensure border and padding are included in width */
}

.result-item {
    position: relative;
}

.result-index {
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 14px;
    color: #888;
}

.result-item:hover {
    background-color: #f0f0f0;
}
#flashcard-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.27);
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .search-container.has-results {
    }
   
    .search-container {
        height: 85%;
    }

    .results {
        padding: 0 5px; /* Reduce padding */
    }

    h1 {
        font-size: 2.4em;
    }

    .result-item {
        padding: 8px; /* Reduce padding */
    }
}


@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)  {
    #font-select {
        top: 15px;
        right: 10px;
        font-size: 14px;
        width: 120px;
    }
}

@media only screen 
and (orientation: landscape) {
    #font-select {
        top: 15px;
        right: 10px;
        font-size: 14px;
        width: 120px;
    }
}

#flashcard-link {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 16px;
    color: #000;
}
#flashcard-link:hover {
    background-color: #000;
    color: #fff;
}

.clickable-char {
    display: inline-block;
    margin: 0 2px;
}