@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('@/assets/fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
       url('@/assets/fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --bg: rgb(255, 255, 255);
  --fg: rgb(0, 0, 0);
  --overlay-background: rgba(0, 0, 0, 0.5);
  --secondary-color: #2ecc71;
  --font-family: 'JetBrains Mono', monospace;
  --font-size: 16px;
  --border-radius: 0px;
  --spacing-unit: 8px;
}

[data-theme="dark"] {
  --bg: rgb(0, 0, 0);
  --fg: rgb(255, 255, 255);
  --overlay-background: rgba(0, 0, 0, 0.5);
  --secondary-color: #b39cc9;
}

* {
  /* transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; */
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--fg);
  background-color: var(--bg);
}

button {
  background-color: var(--fg);
  color: white;
  padding: var(--spacing-unit) var(--spacing-unit * 2);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}