<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hanzi Explorer</title>
        <script defer module src="/static/js/app.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/zi.ico') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/hanzi-writer@3.5/dist/hanzi-writer.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/flashcard.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <style>
            @font-face {
                font-family: 'Kaiti';
                src: url("{{ url_for('static', filename='fonts/Kaiti.ttf') }}") format('truetype');
                font-weight: normal;
                font-style: normal;
            }
            #app {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100vh;
                width: 100%;
                justify-content: flex-start;
                box-sizing: border-box;
            }
        </style>
        <script >

            function toAccentedPinyin(input) {
                const toneMap = {
                    '1': 'āēīōūǖ',
                    '2': 'áéíóúǘ',
                    '3': 'ǎěǐǒǔǚ',
                    '4': 'àèìòùǜ',
                    '5': 'aeiouü'
                };
                
                function applyToneMark(syllable, tone) {
                    if (!tone) return syllable;
                    
                    const vowels = ['a', 'e', 'i', 'o', 'u', 'ü'];
                    let syllableLower = syllable.toLowerCase();
                    
                    if (syllableLower.includes('a')) {
                        let index = syllableLower.indexOf('a');
                        let result = syllable.split('');
                        result[index] = toneMap[tone][0];
                        return result.join('');
                    }
                    
                    if (syllableLower.includes('e')) {
                        let index = syllableLower.indexOf('e');
                        let result = syllable.split('');
                        result[index] = toneMap[tone][1];
                        return result.join('');
                    }
                    
                    if (syllableLower.includes('ou')) {
                        let index = syllableLower.indexOf('o');
                        let result = syllable.split('');
                        result[index] = toneMap[tone][3];
                        return result.join('');
                    }
                    
                    for (let i = syllableLower.length - 1; i >= 0; i--) {
                        let char = syllableLower[i];
                        let vowelIndex = vowels.indexOf(char);
                        if (vowelIndex !== -1) {
                            let result = syllable.split('');
                            result[i] = toneMap[tone][vowelIndex];
                            return result.join('');
                        }
                    }
                    
                    return syllable;
                }
            
                let result = input.replace(/\[([a-z]+)([1-5])?\]/gi, (match, syllable, tone) => {
                    return '[' + applyToneMark(syllable, tone) + ']';
                });
                
                result = result.replace(/\b([a-z]+)([1-5])?\b/gi, (match, syllable, tone) => {
                    return applyToneMark(syllable, tone);
                });
                
                return result;
            }
        </script>
        <script>
            let currentFont = 'Noto Sans Mono';
            let username = {{ username | tojson | safe }};
            let isDarkMode = {{ darkmode | tojson | safe }};
            let inputdecks = {{ inputedeckdata | tojson | safe }};
            let inputdeck = {{ inputdeck | tojson | safe }};
            let custom_deck_names = {{ custom_deck_names | tojson | safe }};
            let decknames_sorted_with_name = {{ decknames_sorted_with_name | tojson | safe }};
            let wordlists_words = {{ wordlists_words | tojson | safe }};
            let google_id = {{ google_id | tojson | safe }};
            let profile_pic = {{ profile_pic | tojson | safe }};
        </script>
    </head>
    {% if darkmode %}
    <body class="darkmode">
        {% else %}
        <body>
            {% endif %}
            <div class="has-submenu" id="mainMenu">
                <span class="submenuName" id="mainSubmenuName">menu</span>
                <ul class="gridSubmenu" id="mainSubmenu">
                    <li class="menu-option-parent"><a class="deck-option" href="/" data-link>Home</a></li>
                    <li class="menu-option-parent"><a class="deck-option" href="/grid" data-link>Grid</a></li>
                    <li class="menu-option-parent"><a class="deck-option" href="/search" data-link>Search</a></li>
                    <li class="menu-option-parent"><a class="deck-option" href="/flashcards" data-link>Flashcards</a></li>
                    <li class="menu-option-parent"><a class="deck-option" href="/hanziwriting" data-link>Writing</a></li>
                    <li class="menu-option-parent"><a class="deck-option menu-change" id="darkmode-toggle">Darkmode</a></li>
                    <li class="menu-option-parent" id="loginMenuItem"><a class="deck-option" href="/login" data-link>Login</a></li>
                </ul>
            </div>
            <div id="app">
            </div>
            <div id="flashcard_overlay">
                <div id="flashcard_container">
                    <div id="flashcard_plotter"></div>
                    <div id="flashcard_character"></div>
                    <div id="flashcard_character_noto"></div>
                    <div id="flashcard_pinyin"></div>
                    <div id="flashcard_function"></div>
                    <div id="flashcard_english"></div>
                    <div id="flashcard_description"></div>
                    <div id="flashcard_char_matches"></div>
                    <div id="flashcard_addcard">
                        <div id="wordListDropdownCard" class="card-custom-dropdown-trigger">
                            Add to <i class="fa-solid fa-caret-right"></i>
                        </div>
                        <div id="dropdown-options-card" class="addcard-dropdown-menu" style="display: none;"></div>
                    </div>
                    <div id="flashcard_close"></div>
                </div>
            </div>
            <p id="message"></p>
            <div id="pinyin-hover-box" style="display: none;"></div>
            <script src="{{ url_for('static', filename='js/plotter_better.js') }}"></script>
            <script src="{{ url_for('static', filename='js/hamburger.js') }}"></script>
            <script src="{{ url_for('static', filename='js/flashcard.js') }}"></script>
            <script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script> 
            <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
            <script src="{{ url_for('static', filename='js/search.js') }}" async></script>
            <script src="{{ url_for('static', filename='js/grid.js') }}" async></script>
            <script src="{{ url_for('static', filename='js/account.js') }}" async></script>
        </body>
</html>