<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap" rel="stylesheet">

<style>
    @font-face {
            font-family: 'Kaiti';
            src: url("{{ url_for('static', filename='fonts/Kaiti.ttf') }}") format('truetype');
            font-weight: normal;
            font-style: normal;
        }
</style>
<script type="text/javascript">
    let custom_deck_names = {{ custom_deck_names | tojson | safe }};
</script>
<div id="flashcard_overlay">
    <div id="flashcard_container">
        <div id="flashcard_plotter"></div>
        <div id="flashcard_character"></div>
        <div id="flashcard_character_noto"></div>
        <div id="flashcard_pinyin"></div>
        <div id="flashcard_function"></div>
        <div id="flashcard_english"></div>
        <div id="flashcard_description"></div>
        <div id="flashcard_char_matches"></div>
        <div id="flashcard_addcard">
            <div id="wordListDropdownCard" class="card-custom-dropdown-trigger">
                Add to <i class="fa-solid fa-caret-right"></i>
            </div>
            <div id="dropdown-options-card" class="addcard-dropdown-menu" style="display: none;"></div></div>
        <div id="flashcard_close"></div>
        <!-- <a href="#" id="flashcard_practice"></a> -->
    </div>
</div>
