<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/hanzi-writer@3.5/dist/hanzi-writer.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>中文</title>
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/flashcards.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/flashcard.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/contextmenu.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/customback.js') }}"></script>
    <a id="characters-link" href="{{ url_for('home') }}">home</a>
    <select id="deck-select">
        <option value="shas">ShaSha's Class</option>
        <option value="top140">Top 140</option>
        <option value="hsk1">HSK 1</option>
        <option value="hsk2">HSK 2</option>
        <option value="hsk3">HSK 3</option>
        <option value="hsk4">HSK 4</option>
        <option value="hsk5">HSK 5</option>
        <option value="hsk6">HSK 6</option>
    </select>
    <select id="font-select">
        <option value="Noto Sans Mono">Noto Sans Mono</option>
        <option value="Noto Serif SC">Noto Serif SC</option>
    </select>
    <div id="flashcard_container">
        <div id="flashcard_character"></div>
        <div id="flashcard_pinyin"></div>
        <div id="flashcard_english"></div>
        <div id="flashcard_description"></div>
    </div>
    <div id="choicesContainer">
        <div id="correctButton" class="choice-button">Correct</div>
        <div id="incorrectButton" class="choice-button">Incorrect</div>
    </div>
    
    <p id="space-instruction">press 'space' to reveal/advance</p> 
    
    <p id="message"></p>
    <script>
        const username = {{ username | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='js/flashcard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flashcards.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contextmenu.js') }}"></script>
</body>
</html>
