<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/hanzi-writer@3.5/dist/hanzi-writer.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>中文</title>
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/flashcards.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/flashcard.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/contextmenu.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/hamburger.css') }}">
    <script src="{{ url_for('static', filename='js/plotter.js') }}"></script>
</head>
<body id="body">
    <script src="{{ url_for('static', filename='js/customback.js') }}"></script>
    <audio id="crunchSound" src="{{ url_for('get_crunch') }}" preload="auto"></audio>

    <div class="hamburger" id="hamburgerMenu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="dropdown-menu" id="dropdownMenu">
        <ul>
            <li id="loginMenuItem"><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li class="has-submenu">
                <span>Hanzi Grid</span>
                <ul class="submenu">
                    {% for key, deck in decks.items() %}
                        <li><a href="{{ url_for('grid') }}?deck={{ key }}">{{ deck.name }}</a></li>
                        {% endfor %}
                </ul>
            </li>
            <li class="has-submenu">
                <span>Flashcards</span>
                <ul class="submenu">
                    {% for key, deck in decks.items() %}
                        <li><a class="deck-option" data-deck="{{ key }}">{{ deck.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{{ url_for('lists') }}">Example Lists</a></li>
            <li><a href="{{ url_for('puzzles.puzzles') }}">Puzzles</a></li>
            <li><a href="{{ url_for('hanzipractice') }}">Practice 汉字</a></li>
            <li><a href="{{ url_for('search') }}">Search</a></li>
            <li><a href="{{ url_for('pageinfo') }}">Info</a></li>
            <li class="has-submenu">
                <span>Fonts</span>
                <ul class="submenu">
                    <li><a href="#" class="font-change" data-font="Noto Sans Mono">Noto Sans Mono</a></li>
                    <li><a href="#" class="font-change" data-font="Noto Serif SC">Noto Serif SC</a></li>
                </ul>
            </li>
            <li><span id="darkmode-toggle" >Toggle darkmode</span></li>
            <li><a href="{{ url_for('logout') }}" id="logoutButton">Logout</a></li>
        </ul>
    </div>

    <div id="indicator"></div>
    <div id="flashcard_container">
        <div id="flashcard_plotter"></div>
        <div id="flashcard_character"></div>
        <div id="flashcard_pinyin"></div>
        <div id="flashcard_function"></div>
        <div id="flashcard_english"></div>
        <div id="flashcard_description"></div>
        <div id="flashcard_char_matches"></div>
        <div id="flashcard_hsk"></div>
        <a href="" id="flashcard_practice"></a>
    </div>
    <div id="choicesContainer">
        <div id="correctButton" class="choice-button">Correct</div>
        <div id="incorrectButton" class="choice-button">Incorrect</div>
    </div>
    <div id="pinyin-hover-box" style="display: none;"></div>
    <!-- <p id="space-instruction">press 'space' to reveal/advance</p>  -->
    
    <p id="message"></p>
    <script>
        const username = {{ username | tojson | safe }};
        const inputdeck = {{ deck | tojson | safe }};
        let isDarkMode = {{ darkmode | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='js/perlin.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/border.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/hamburger.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flashcard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flashcards.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contextmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
    
    
    <script>
        // const sourceCanvas = document.createElement('canvas');
        // sourceCanvas.width = 400;
        // sourceCanvas.height = 400;
        // sourceCanvas.style.width = '300px';
        // sourceCanvas.style.height = '300px';
        // document.body.appendChild(sourceCanvas);

        // const sourceCtx = sourceCanvas.getContext('2d');
        // sourceCtx.fillStyle = 'white';
        // sourceCtx.fillRect(0, 0, sourceCanvas.width, sourceCanvas.height);
        // sourceCtx.fillStyle = 'black';
        // sourceCtx.font = '150px Arial';
        // sourceCtx.textAlign = 'center';
        // sourceCtx.textBaseline = 'middle';
        // sourceCtx.fillText('喜', sourceCanvas.width / 2, sourceCanvas.height / 2);

        // // Create and set up the dot canvas
        // const dotCanvas = document.createElement('canvas');
        // dotCanvas.width = 400;
        // dotCanvas.height = 400;
        // dotCanvas.style.width = '300px';
        // dotCanvas.style.height = '300px';
        // document.body.appendChild(dotCanvas);

        // const dotCtx = dotCanvas.getContext('2d');
        // dotCtx.fillStyle = 'white';
        // dotCtx.fillRect(0, 0, dotCanvas.width, dotCanvas.height);

        // // Get image data from source canvas
        // const imageData = sourceCtx.getImageData(0, 0, sourceCanvas.width, sourceCanvas.height);
        // const data = imageData.data;

        // // Render dots based on source image
        // const dotSize = 1.4;
        // const spacing = 1;

        // for (let y = 0; y < sourceCanvas.height; y += spacing) {
        //     for (let x = 0; x < sourceCanvas.width; x += spacing) {
        //         const i = (y * sourceCanvas.width + x) * 4;
        //         if (data[i] < 128) {  // If pixel is dark (assuming grayscale)
        //             let xx = x + spacing*1*(-.5 + Math.random());
        //             let yy = y + spacing*1*(-.5 + Math.random())*y / sourceCanvas.height*10;
        //             let ddotSize = dotSize + .5*(-.5 + Math.random());
                    
        //             let randombrightness = Math.random() * 22;
        //             if(Math.random() < .03){
        //                 randombrightness = 255;
        //                 ddotSize *= 5;
        //             }
        //             dotCtx.fillStyle = `rgb(${randombrightness}, ${randombrightness}, ${randombrightness})`;
        //             dotCtx.beginPath();
        //             dotCtx.arc(xx, yy, dotSize / 2, 0, Math.PI * 2);
        //             dotCtx.fill();
        //         }
        //     }
        // }
    </script>
    
    
</body>
</html>
