<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/hanzi-writer@3.5/dist/hanzi-writer.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Character Grid</title>
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/flashcard.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/contextmenu.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/hamburger.css') }}">
    <style id="dynamic-styles">
        
    </style>
</head>
<body>
    <h1 id="title">Character Grid</h1>
    <h3 id="title_word_count"></h3>
    <div class="hamburger" id="hamburgerMenu" style="font-size:22px">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="dropdown-menu" id="dropdownMenu">
        <ul>
            <li id="loginMenuItem"><a href="{{ url_for('login') }}">Login</a></li>
            <li id="loginMenuItem"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="has-submenu">
                <span>Hanzi Grid</span>
                <ul class="submenu">
                    {% for key, deck in decks.items() %}
                        <li><a class="deck-option" data-deck="{{ key }}">{{ deck.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="has-submenu">
                <span>Flashcards</span>
                <ul class="submenu">
                    {% for key, deck in decks.items() %}
                        <li><a href="{{ url_for('flashcards') }}?deck={{ key }}">{{ deck.name }}</a></li>
                        {% endfor %}
                </ul>
            </li>
            <li><a href="{{ url_for('lists') }}">Example Lists</a></li>
            <li><a href="{{ url_for('puzzles') }}">Puzzles</a></li>
            <li><a href="{{ url_for('search') }}">Search</a></li>
            <li><a href="{{ url_for('welcome') }}">Guide</a></li>
            <li class="has-submenu">
                <span>Fonts</span>
                <ul class="submenu">
                    <li><a href="#" class="font-change" data-font="Noto Sans Mono">Noto Sans Mono</a></li>
                    <li><a href="#" class="font-change" data-font="Noto Serif SC">Noto Serif SC</a></li>
                </ul>
            </li>
            <!-- <li class="has-submenu">
                <span>Colors</span>
                <ul class="submenu">
                    <li><a href="#" class="color-change" data-color="#ff595e">Red</a></li>
                    <li><a href="#" class="color-change" data-color="#ffca3a">Yellow</a></li>
                    <li><a href="#" class="color-change" data-color="#8ac926">Green</a></li>
                    <li><a href="#" class="color-change" data-color="#1982c4">Blue</a></li>
                    <li><a href="#" class="color-change" data-color="#6a4c93">Purple</a></li>
                    <li><a href="#" class="color-change" data-color="#000000">Black</a></li>
                </ul>
            </li> -->
            <li><span id="darkmode-toggle" >Toggle darkmode</span></li>
            <li><a href="{{ url_for('logout') }}" id="logoutButton">Logout</a></li>
        </ul>
    </div>
    <div id="grid-cont" class="grid-container">
        <div class="grid" id="character-grid"></div>
    </div>
    <div id="lcontainer">
    </div>

    <div id="flashcard_overlay">
        <div id="flashcard_container">
            <div id="flashcard_character"></div>
            <div id="flashcard_pinyin"></div>
            <div id="flashcard_function"></div>
            <div id="flashcard_english"></div>
            <div id="flashcard_description"></div>
            <!-- <div style="width: 95%; padding-bottom: 15px;">Related words:</div> -->
            <div id="flashcard_char_matches"></div>
            <div id="flashcard_hsk"></div>
        </div>
    </div>
    <p id="message"></p>
    <div id="typedDisplay" style="display: none;"></div>
    <div id="pinyin-hover-box" style="display: none;"></div>

    <script>
        const characters = {{ characters | tojson | safe }};
        const characterdata = {{ character | tojson | safe }};
        const inputdecks = {{ decks | tojson | safe }};        

        let inputdeck = {{ deck | tojson | safe }};
        let isDarkMode = {{ darkmode | tojson | safe }};
    </script>
    <script>
        const username = {{ username | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='js/perlin.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/border.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/hamburger.js') }}"></script>
    <script src="{{ url_for('static', filename='js/customback.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flashcard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/grid.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contextmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
</body>
</html>