<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/hanzi-writer-custom.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Hanzi 🖌️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hanzistats.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contextmenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hamburger.css') }}">
    <style id="dynamic-styles"></style>
        
    </style>
    <style>
        #backLink {
            position: absolute;
            top: 1em;
            left: 1em;
            font-size: 1em;
            color: var(--text-color);
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 class="title">
        <span id="toggle-view">Hanzi Strokes History</span> 
        <a href="{{ url_for('hanziwriting') }}" style="text-decoration: none;"><i class="fa-solid fa-landmark"></i></a>
    </h1>

    <h2 id="deck-name"></h2>

    <a href="{{ url_for('hanziwriting') }}" id="backLink">&lt;&lt; back</a>
    
    {% include 'menu.html' %}
    
    <div id="characters-container">

    </div>

    <div id="confetti-container"></div>

    <script>
        let strokes_per_character = {{ strokes_per_character | tojson | safe }};
        let decks = {{ decks | tojson | safe }};
        const username = {{ username | tojson | safe }};
        

        function isIPhone(){
            const ua = navigator.userAgent;
            if (ua.includes('iPhone')) {
                return true;
            }
            return false;
        }

        function isiPad(){
            const ua = navigator.userAgent;
            if (ua.includes('iPad')) {
                return true;
            }
            return false;
        }
    </script>
    <script src="{{ url_for('static', filename='js/hamburger.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hanzistats.js') }}"></script>
    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
</body>
</html>