<script src="https://kit.fontawesome.com/4d1c822078.js" crossorigin="anonymous"></script>
<link  rel="stylesheet" href="{{ url_for('static', filename='css/hamburger.css') }}">
<div class="has-submenu" id="mainMenu">
    <span class="submenuName" id="mainSubmenuName">menu</span>
    <ul class="gridSubmenu" id="mainSubmenu">
        <li class="menu-option-parent"><a class="deck-option" href="{{ url_for('home') }}">Home</a></li>
        <li class="menu-option-parent"><a class="deck-option" href="{{ url_for('grid') }}">Grid</a></li>
        <li class="menu-option-parent"><a class="deck-option" href="{{ url_for('search') }}">Search</a></li>
        <li class="menu-option-parent"><a class="deck-option" href="{{ url_for('flashcards') }}">Flashcards</a></li>
        <li class="menu-option-parent"><a class="deck-option menu-change" id="darkmode-toggle">Toggle theme</a></li>
        <li class="menu-option-parent" id="loginMenuItem"><a class="deck-option" href="{{ url_for('login') }}">Login</a></li>
        <li class="menu-option-parent"><a class="deck-option" href="{{ url_for('logout') }}" id="logoutButton">Logout</a></li>
    </ul>
</div>