<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/hanzi-writer@3.5/dist/hanzi-writer.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>search</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/zi.ico') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/hamburger.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/flashcard.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <script src="{{ url_for('static', filename='js/plotter_better.js') }}"></script>

    <style>
        #backLink {
            position: absolute;
            top: 1em;
            left: 1em;
            font-size: 1em;
            color: var(--text-color);
            text-decoration: none;
        }
    </style>
</head>

{% if darkmode %}
<body class="darkmode">
{% else %}
<body>
{% endif %}
    <a href="{{ url_for('home') }}" id="backLink">&lt;&lt; home</a>
   
    {% include 'menu.html' %}

    <div id="search-container" class="{% if results %} has-results{% endif %}">
        <h1 id="title">Search</h1>
        <form id="searchForm" onsubmit="handleSearch(event)">
            <input type="text" name="query" id="searchQuery">
            <input id="srch-btn" type="submit" value="Search">
        </form>
        <div id="search-info">
        </div>
        
        <div id="results">
           
        </div>
        
    </div>
    
    {% include 'flashcard.html' %}

    <p id="message"></p>
    <div id="pinyin-hover-box" style="display: none;"></div>
    <script>
    </script>
    <script src="{{ url_for('static', filename='js/hamburger.js') }}"></script>
    <script src="{{ url_for('static', filename='js/customback.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flashcard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>

    <script>
        const username = {{ username | tojson | safe }};
        let isDarkMode = {{ darkmode | tojson | safe }};
        const characterdata = {{ character | tojson | safe }};
        const results = {{ results | tojson | safe }};
        const query = {{ query | tojson | safe }};
        const searchTimeIn = {{ search_time | tojson | safe }};


        function showSearchTime(time){
            document.getElementById('search-info').innerHTML = `<p>Search time: ${time.toFixed(5)} seconds</p>`;
        }

        document.addEventListener('DOMContentLoaded', function() {

            if(searchTimeIn){
                showSearchTime(searchTimeIn);
            }

            document.getElementById('searchQuery').value = query;
            updateSearchResults(results, query);

            getFont();

            const pinyinElement = document.getElementById('flashcard_pinyin');
            pinyinElement.addEventListener('click', function() {
                playHanziAudio();
            });

            if(characterdata){
                showAfterLoad(characterdata);
                scrollToTop(document.getElementById('flashcard_container'));
            }
        });

        
        async function handleSearch(event) {
            event.preventDefault(); // Prevent regular form submission
            
            const query = document.getElementById('searchQuery').value;
            try {
                const response = await fetch('./search_results', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ query: query })
                });

                const resp = await response.json();
                showSearchTime(resp.search_time);

                updateSearchResults(resp.results, resp.query);
                window.history.pushState({}, '', `?query=${query}`);
                
            } catch (error) {
                console.error('Error:', error);
            }
        }

    </script>
        
</body>
</html>
