
#flashcard_container {
    width: 60%;
    max-width: 60%;
    position: relative;
}

#flashcard_overlay {
    z-index: 1000;
}


.expand-button {
    margin-left: 2em;
}

#flashcard_close {
    position: fixed;
    top: 5%;
    right: 20%;
    transform: translate(0px, -0px);
}

