body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 80px;
}
.container {
    width: 30%;
    margin: 0 auto;
}
a {
    color: #000;
}
li {
    margin-bottom: 10px;  /* Added spacing between list items */
}
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}